body {
  margin: 0;
  background-color: #e2e8f0;
  font-size: 14px;
}

input[type=button] {
  background: #91c8ea;
  border: 1px solid #69c;
  color: #fff;
  &.calc {
    width: 200px;
    height: 45px;
    background-color: #219ce8;
    border-color: #9cd2f3;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
  }
}

input[type=number], select {
  background-color: #def;
  border: 1px solid #69c;
  color: #444;
}

.form-label {
  text-align: right;
}

.wrapper {
  max-width: 1200px;
  width: fit-content;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  background-color: #f8fafc;
}

.input-panel > * {
  padding: 10px;
}

.input-table td {
  padding: 4px;
}

.num_ctrl {
  min-width: 30px;
}

.num_input {
  padding-left: 0;
  padding-right: 0;
  min-width: 35px;
}

.calc-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.result-panel {
  padding: 10px;
}

.result-table {
  line-height: 1.7em;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #69c;
  th {
    background-color: #87c3e8;
    color: #fff;
    font-weight: 700;
    text-align: center;
    border: 1px solid #69c;
    width: 3em;
  }
  td {
    color: #444;
    background-color: #fff;
    border-right: 1px solid #69c;
    text-align: center;
  }
  tr:hover td{
    border-top: 1px solid #ff6666;
    border-bottom: 1px solid #ff6666;
    background-color: #fff0f9;
  }
}